@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
 
    <div class="row">
        <div class="col-sm-12 text-center jumbotron">
            @Html.ActionLink("SEE FORECAST", "HavaDurumu")
        </div>
    </div>
</div>

